@page "/LocationSpy"

@inject IJSRuntime jsRuntime
@using System.Threading;

<p>Latitude : @Latitude</p>
<p>Longitude: @Longitude</p>

@code {
    private double Latitude;
    private double Longitude;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            StartTimer();
        }
    }

    private void StartTimer()
    {
        var timer = new Timer(new TimerCallback(async _ =>
        {
            await jsRuntime.InvokeVoidAsync("GetCoordinates", DotNetObjectReference.Create(this));
        }), null, 0, 5000);
    }

    [JSInvokable]
    public async Task UpdateLocation(double lat, double lon)
    {
        Latitude = lat;
        Longitude = lon;

        StateHasChanged();
    }
}