@page "/Minimap"
@using RemoteLabels.SignalR.Contract;

@inject MinimapService service
@inject IJSRuntime js

<div id="mapid">

</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await service.InitializeSignalRClient(HandleLocationUpdated);

            var latestPosition = await service.GetLatestPosition();
            await js.InvokeVoidAsync("LoadMap", latestPosition.Latitude, latestPosition.Longitude);
        }
    }

    private async Task HandleLocationUpdated(object sender, LocationUpdatedEventArgs e)
    {
        await js.InvokeVoidAsync("UpdateView", e.Latitude, e.Longitude);
    }
}